body {
   
    .main-panel{
        .title {
            text-align: center;
            margin: 100px auto;
            color: white;
        }
        .calc-board{
            width: 400px;
            margin: auto;
            form {
                .input-group-text{
                    min-width: 130px;
                }
            }
        }
        
    }
    
}
